services:
  - type: web
    name: todo-api
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run build && npm run db:migrate
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NPM_CONFIG_PRODUCTION
        value: false
      - key: DATABASE_URL
        fromDatabase:
          name: todo-db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: PORT
        value: 10000

databases:
  - name: todo-db
    databaseName: todo_api
    user: todo_user
    region: frankfurt
    plan: free
